.button {
			position: absolute;
			width: 92px;
			height: 92px;
		}
		
		#naviBg {
		    position: absolute;
			left: 0;
			height:116;
		}
		
		#addressBg1 {
		  position: absolute;
			left: 654;
			height:72;
			width: 120;
		}
		
		#addressBg2 {
		    position: absolute;
			height:72;
		}
		
		#icon_place {
		    position: absolute;
			height:72;
            width:56;
		}
		#addressBg3 {
		    position: absolute;
			height:72;
			width: 16;
		}
		
		/* Lay out the navigation bar with absolute positioning. Buttons with
		two states occupy the same place, but one is always hidden.  */		
		#greatWeb {
			position: absolute;
			left: 18px;
			background: url("../../img/nav_window/brs_navi_icon_greatweb.png") no-repeat;
		}

		#back, #backDisabled {
			left: 124px;
		}

		#back {
			background-image: url("../../img/nav_window/brs_navi_icon_back.png");
			visibility: hidden;
		}


		#backDisabled {
			background-image: url("../../img/nav_window/brs_navi_icon_back_dis.png");
			visibility: visible;
		}


		#fwd, #fwdDisabled {
			left: 230px;
		}

		#fwd {
			background-image: url("../../img/nav_window/brs_navi_icon_forward.png");
			visibility: hidden;
		}


		#fwdDisabled {
			background-image: url("../../img/nav_window/brs_navi_icon_forward_dis.png");
			visibility: visible;
		}


		#reload, #stop {
			left: 336px;
		}
		
		#reload {
			background-image: url("../../img/nav_window/brs_navi_icon_refresh.png");
			visibility: visible;
		}
		
		#stop {
			background-image: url("../../img/nav_window/brs_navi_icon_cancel.png");
			visibility: hidden;
		}


		#showBookmark {
			left: 442px;
		}

		#showBookmark {
		    background-image: url("../../img/nav_window/brs_navi_icon_favorit.png");
			visibility: visible;
		}


		#addToBookmark , #addToBookmarkDisabled{
			left: 548px;
		}
		
		#addToBookmark {
		    background-image: url("../../img/nav_window/brs_navi_icon_favoritadd.png");
			visibility: hidden;
		}
		
		#addToBookmarkDisabled {
			background-image: url("../../img/nav_window/brs_navi_icon_favoritadd_dis.png");
			visibility: visible;
		}
	
		#addressbar {
			position: absolute;
			border:none;
			padding: 0px 0px 0px 20px;
			left: 666px;  /*the best is 335*/         
			height: 72px;
			color: black;
			font-size: 44px;
			font-family: Verdana, Arial, Helvetica, sans-serif; 
			font-weight: 600;
			/* Set favicon using background-image.  */
			background-color: black;
			background-image: url("../../img/nav_window/brs_navi_address_field_2.png");
			background-repeat:repeat-x;
			background-position: 4px 0px;
		}

		#goTo {
		    background-image: url("../../img/nav_window/brs_navi_icon_Go.png");
			visibility: hidden;
		}
		
		#goToDisable {
			background-image: url("../../img/nav_window/brs_navi_icon_Go_dis.png");
			visibility: visible;
		}

		#close {
			position: absolute;
			left: 1814px;
			background-image: url("../../img/nav_window/brs_navi_icon_cancel.png");
		}
		
		
		